# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio
*.tmp
*.suo
*.user
*.userosscache

# Unity meta files
*.pidb.meta
*.pdb.meta

# Builds
*.apk
*.exe

# OS
.DS_Store
Thumbs.db